@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --hue: 201;
  --primary-color: hsl(var(--hue), 93%, 45%);
  --primary-light-color: hsl(var(--hue), 100%, 92%);
  --primary-dark-color: hsl(var(--hue), 70%, 35%);
  --bg-color: hsl(var(--hue), 100%, 98%);
  --text-color: hsl(var(--hue), 0%, 20%);
  --text-dark-color: hsl(var(--hue), 0%, 55%);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

nav ul a {
  color: var(--text-dark-color);
  font-size: 1.05rem;
}

nav .username {
  padding: 1rem 1.25rem;
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  border-radius: 0.8rem;
  font-size: 1.05rem;
}

.hero-section {
  padding-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section h1 {
  font-size: 2.8rem;
}

.hero-section h1 span {
  color: var(--primary-color);
}

.hero-section p {
  font-size: 1.25rem;
  color: var(--text-dark-color);
  margin-top: 0.8rem;
}

.hero-section .btn {
  border: none;
  outline: none;
  padding: 1.55rem 3rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--bg-color);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.hero-section .btn:hover {
  background-color: var(--primary-dark-color);
}

.img-container {
  flex: 1 1 320px;
  max-width: 420px;
  display: flex;
  justify-content: center;
}

.img-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 900px) {
  br {
    display: none;
  }
  .hero-section {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 640px) {
  nav {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .hero-section {
    padding-top: 2rem;
  }
  nav ul {
    gap: 1rem;
  }
  nav ul a {
    font-size: 0.95rem;
  }
  .hero-section {
    gap: 1rem;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
  .hero-section p {
    font-size: 1rem;
  }
  .hero-section .btn {
    margin-top: 1.25rem;
  }
}
